* {
  margin: 0;
  padding: 0;
  font-family: ringbearer;
}

body, html {
  min-height: 100%;
  overflow-x: hidden;
}
header {
  position: relative;
  z-index: 10000;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
  }

header h1{
  text-align: center; 
  color: gold;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));

  animation-name: focus-in-contract;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
    
  /* shorthand
  animation: focus-in-contract 1s ease 0s 1 normal none;*/
}
@keyframes focus-in-contract {
    
  0% {
    letter-spacing:1em;
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
}

header.sticky {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: gold;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
  height: 30px;
}

li a{
  color: gold;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
  
}

li {
  list-style-type: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));

}  
section{
    height: 100vh;
  }
  
/* ----------section home------------------------ */

#home {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
  display: flex;
  justify-content: center;
  align-items: center;

}
  
#home #vid {
  display: flex;
  justify-content: center;
  background-size: 100%;
  
}  

#home #video {
  margin: auto;
  width: 100%; 
}

/* -----------section fellowship--------------------------- */

#fellowship {
  scroll-margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  }

#fellowship h2:first-child, h4{
    text-align: center;
  }

.card {
    position: relative;
    width: auto;
    height: 350px;
    border-radius: 5%;
    display: flex;
    align-items: flex-start;
    border-radius: 5%;
    transition: 0.5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/background-perso.jpeg);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover .circle:before {
    background-image: url(./img/background-home.jpeg);
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    top: 70%;
    left: 80%;
    height: 60%;
}

.card .content {
    position: relative;
    width: 50%;
    left: 0;
    padding: 1% 1% 5% 5%;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
    transform: rotate(360deg);
}

.card .content h2 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 190%;
}

.card .content p {
    color:aliceblue;
    font-size: 85%;

}

@media screen and (min-width: 768px) {
    .card {
        width: 600px;
        height: 350px;
        align-items: center;
    }
    .card:hover img {
        left: 80%;
        height: 500px;
    }
    .card .content {
        left: 20%;
        padding: 10px 20px 20px 30px;
    }
    .card .content h2 {
        font-size: 2em;
    }
    .card .content p {
        font-size: initial;
    }

    #team {
      display: initial;
      justify-content: initial;
      align-items: initial;
      padding-top: 11%;
    }
    

    footer a {
      background-color: #232323;
      color: #FFF;
      border-radius: 5%;
      width: 10%;
      font-size: 1rem ;
      text-align: center;

    }
    
}

.container-main {
    overflow: hidden;
    position: relative;
}

.card, card--hidden {
    display: none;
}


.card--visible {
    display: block;
}

.card-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-50%);
}

.card-actions button {
  font-weight: 600;
  color: black;
  cursor: pointer;
  margin: auto;
  height: 10%;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  width: 20%;
}


.card-actions button#button-prev {
    margin-left: 10%;
}

.card-actions button#button-next {
    margin-right: 10%;
}

#fellowship .click-me button{
  position: absolute;
  width: 30px;
  left: 85%;
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  height: 30px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  background-image: url(./img/icons8-une-bague-48.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

/* -----------section quest---------------------- */

#quest{
  scroll-margin-top: 29px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.872), rgba(0, 0, 0, 0.751));
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: auto;
}


.title {
  font-size: 25px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 20px;
}

.item {
  margin: 40px 10px;
  background-color: #fff;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}

.item:hover  {
  transform: translate3d(0, -10px, 0);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.item__body {
  padding: 25px;
}

.item__title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
}

.item__description {
  color: #585858;
}

.items {
  position: relative;
}

/**
CAROUSEL
 */
.carousel {
  position: relative;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFF url(img/right.svg) center center no-repeat;
  background-size:  20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 10px;
  box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2);
  transform: rotate(360deg);
}

.carousel__prev {
  background-image: url(img/left.svg);
  right: auto;
  left: 10px;
}

.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
}

.carousel__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.carousel__pagination__button {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  box-shadow: 0 2px 5px #3232321a;
  transition: transform 0.3s;
  cursor: pointer;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
  transform: scale(1.4);
}

@media screen and (min-width: 800px) {
  .carousel__pagination {
    display: block;
  }
}

.modal-btn {
  padding: 10px 14px;
  font-size: 20px;
  display: block;
  min-width: 150px;
  border: none;
  color: white;
  border-radius: 4px;
  transition: ease-out 0.3s;
  outline: none;
  border: 4px solid gold;
  height: 55px;
  width: 70px;
}
.modal-btn:hover {
  color: gold;
  cursor: pointer;
}
.modal-btn::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: gold;
}
.modal-btn:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
.modal-container {
 visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  display: flex;
  justify-content: flex-start;
}
.active {
  transition: visibility 0s;
   visibility: visible;
  z-index: 100;
}
.map-img {
  height: 250px;
  width: 95%;
}
.map-img:hover{
  top: -50px;
  transform: scale(1.5);
  border: 1px solid rgba(59,58,58,0.46);
  box-shadow: -10px 5px 10px grey;
  top: 0;
  transition: transform 200ms;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}
.modal {
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: black;
  color: gold;
}
.modal h3 {
  margin-bottom: 10px;
  font-weight: 500;
}
.modal p {
  line-height: 1.3;
  margin-bottom: 5px;
}

/* ------------------section team------------------ */

#team {
  scroll-margin-top: 29px;
  background-color:rgb(121, 117, 115);
 display: flex;
 justify-content: center;
 align-items: center;
}


#team div h2:first-child{
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 25px;
  margin-left: 20px;
}

#team div img {
  width: 100%;
  height: auto;
}

/* -------------footer----------------------- */

footer {
  height: 5%;
  position: absolute;
}

  .foot{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
#fellow {
  width: 20%;
  height: 35%;
}
#ring {
  width: 1%;
  height: 10%;
}
#smeagol {
  width: 2%;
  height: 15%;
}

footer a {

  background-color: #232323;
  color: #FFF;
  border-radius: 5%;
  font-size: 1rem ;
  text-align: center;
}
